[user]
	email = lcook@FreeBSD.org
	name = Lewis Cook
	signingkey = 96755710687AE873
[commit]
	gpgsign = true
	template = ~/.gitmessage
[credential]
	helper = store --file ~/.git-credentials
[gpg]
	program = gpg2
[core]
	pager = cat
[diff]
	noprefix = true
[url "git@gitlab.com:lcook/"]
        insteadOf = gl:
[url "git@github.com:lcook/"]
        insteadOf = gh:

[alias]
	br = branch
	cm = commit
	cl = clone
	co = checkout
	df = diff
	ll = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pu = push
	st = status
[pull]
	ff = only
