[user]
	email = vulcan@wired.sh
	name = Lewis Cook
	signingkey = 2A2AFC451E1EC726
[commit]
	gpgsign = true
	template = ~/.gitmessage
[credential]
	helper = store --file ~/.git-credentials
[gpg]
	program = gpg2
[core]
	pager = cat
[diff]
	noprefix = true
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        pu = push
        df = diff
