[user]
	email = vulcan@wired.sh
	name = Lewis Cook
	signingkey = B1A9E0C9681C17DF
[commit]
	gpgsign = true
	template = ~/.gitmessage
[credential]
	helper = store --file ~/.git-credentials
[gpg]
	program = gpg2
[core]
	pager = cat
[diff]
	noprefix = true
